@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    z-index: -1000;
}

.wave .shape-fill {
    fill: #363636;
}